<!DOCTYPE html>
<html lang="en">

<head>

    <title>COVID Dashboard</title>

     <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/in/custom/in-all-disputed.js"></script>

    <style>

    body{
        border: 0;
        margin:0;
        padding: 0px;
      }
        .top-header .navbar {
        padding: 5px 0px;
      }

      .top-header {
          background-position: center;
          background-color: rgba(0,0,0,0.7);
          color: #D3D3D3;
          border: 0px;
          width: 100%;
      }

      /* Map */
      #container {
          height: 1500px; 
          min-width: 100%; 
          max-width: 1500px; 
          margin: 0 auto; 
      }
      .loading {
          margin-top: 10em;
          text-align: center;
          color: gray;
      }
    </style>

    </head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

     <!-- Start header -->
		<header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
		    <p style="float: right;"><a href="#">ECOVID Dashboard</a></p>
                <b><h2 style="text-align:center; color: white;">COVID-19 Dashboard</h2></b>
            </div>
        </nav>
    </header>
      <!-- End header -->
    
    <!-- Section -->
    <div>
      <div class="col-lg-3" > 

        <div class="col-50" style="float: left; width: 50%; text-align:center;">

          <div class="card">
            <div class="card-body">
              <p class="card-text" style="font-size:22px; color: rgba(255,0,0,0.6);"><b>Total Cases : </b>{{totalCount}}</p>
            </div>
          </div>
  
          <div class="card">
              <div class="card-body">
              <p class="card-text" style="font-size:22px; color: rgba(0,128,0,0.6);"><b>Cured : </b>{{Cured}}</p>
            </div>
          </div>
        </div>
        <div class="col-50"style="float: left; width: 50%; text-align:center;">

          <div class="card">
            <div class="card-body">
              <p class="card-text" style="font-size:22px; color: rgba(51,130,255,0.6);">{{Active}} <b>: Active</b></p>
            </div>
          </div>
  
          <div class="card">
            <div class="card-body">
              <p class="card-text" style="font-size:22px; color: rgba(128,128,128,0.6);">{{Death}} <b>: Deaths</b></p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <hr style="border-top: 2px solid #D3D3D3;">
        <p style="text-align: center;">Statewise Chart for total Corona positive Patients in India</p>   
        <canvas id="myChart"style="width: 350px; height=100%;"></canvas><br>
      </div>

      
      <div class="col-50" style="float: left; width: 50%; text-align:center;"> <p style="font-size:18px;"><b>Last Update :</b> {{last_date}}</p></div>
      <div class="col-50" style="float: left; width: 50%; text-align:center;"> <p style="font-size:18px;"><b>Total tested :</b> {{tested}}</p></div>
      <br>
      <hr style="border-top: 2px solid #D3D3D3;">


      <div class="col-50" style="float: left; width: 50%;">
        <div id="map" style="widows: 400px; height: 1000px;"></div>
      </div> 

      <div class="col-50"style="float: left; width: 50%;">
        <br>
      <form method="post" enctype="multipart/form-data" action="selectState" style="text-align: center;">
        {% csrf_token %}
        <select name="state" style="height:51px; border-right-width: 0px;">
           {% for x in statesplot %}
           {% if x == statename %}
            <option value={{x}} selected>{{x}}</option>
            {% else %}
            <option value="{{x}}"">{{x}}</option>
            {% endif %}
           {% endfor %}
        </select>
        <input type="submit" style="background-color: #ffffff; height: 51px;">
      </form>
      <br>
      
      {% if showIndia == True %}
      <div class="100per" style="width:100%; float:left; text-align: center;">
        <p style="font-size: 18px;">Click On the Button above to View data of respective state </p><br>
        <hr style="border-top: 2px solid #D3D3D3;">
        <p>Day wise Increase in Confirmed cases in India</p>
        <canvas id="indconfirm"></canvas><br>

      </div>
      <hr style="border-top: 2px solid #D3D3D3;">
        {% elif showIndia == False %}
        <hr style="border-top: 2px solid #D3D3D3;">

        <p style="text-align: center; font-size: 18px;">Showing data for : <b>{{statename|safe}} </b></p>

        <hr style="border-top: 2px solid #D3D3D3;">


        <div class="100per" style="width:100%; float:left;">
          <div class="50l" style="width:50%; float: left;">
            <p>Total Cases : {{totalState}}</p>
          </div>
          <div class="50l" style="width:50%; float: left;">
            <p>Active cases: {{totalActiveState}}</p>
          </div>
          <div class="50l" style="width:50%; float: left;">
            <p>Cured Cases: {{totalCuredState}}</p>
          </div>
          <div class="50l" style="width:50%; float: left;">
            <p>Death : {{totaldeathState}}</p>
          </div>
        </div>
        <hr style="border-top: 2px solid #D3D3D3;">


        <div class="100per" style="width:100%; float:left; text-align: center;">
          <b style="font-size: 18px;">Visual Representation of day wise increase in cases: </b>
        </div>
        <br>
        <div class="50per" style="width:50%; float:left;">
        <canvas id="confirm"></canvas><br>
        </div>
        <div class="50per" style="width:50%; float:left;">
        <canvas id="active"></canvas><br>
        </div>
        <div class="50per" style="width:50%; float:left;">
          <canvas id="recovered"></canvas><br>
        </div>
        <div class="50per" style="width:50%; float:left;">
          <canvas id="death"></canvas><br>
        </div>
        
      {% endif %}
      </div>
    </div>
    <!-- End Section -->


</body>
<script>
  /*bar graph*/
  var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
        labels: {{statesplot|safe}} ,
        datasets: [{
            label: 'Confirmed Cases',
            backgroundColor: 'rgba(0,0,255,0.3)',
            data: {{values|safe}}
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<script>
  /*line chart confirm cases(country)*/
  var ctx1 = document.getElementById('indconfirm').getContext('2d');
  var chart1 = new Chart(ctx1, {
      // The type of chart we want to create
      type: 'line',
  
      // The data for our dataset
      data: {
          labels: {{date|safe}},
          datasets: [{
              label: 'Total Positive',
              backgroundColor: 'rgba(255,0,0,0.3)',
              data: {{dataDatewise|safe}}
          }]
      },
  
      // Configuration options go here
      options: {}
  });
  </script>
  

<script>
/*line chart confirm cases(state)*/
var ctx2 = document.getElementById('confirm').getContext('2d');
var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {{dateState|safe}},
        datasets: [{
            label: 'Total Positive',
            backgroundColor: 'rgba(255,0,0,0.3)',
            data: {{confirmedState|safe}}
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<script>
/*line chart active cases*/
var ctx3 = document.getElementById('active').getContext('2d');
var chart3 = new Chart(ctx3, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: {{dateState|safe}},
        datasets: [{
            label: 'Active Cases',
            backgroundColor: 'rgba(255,255,0,0.3)',
            data: {{activeState|safe}}
        }]
    },

    // Configuration options go here
    options: {}
});
</script>


<script>
  /*line chart recovered cases*/
  var ctx4 = document.getElementById('recovered').getContext('2d');
  var chart4 = new Chart(ctx4, {
      // The type of chart we want to create
      type: 'line',
  
      // The data for our dataset
      data: {
          labels: {{dateState|safe}},
          datasets: [{
              label: 'Recovered Cases',
              backgroundColor: 'rgba(0,128,0,0.3)',
              data: {{recoveredState|safe}}
          }]
      },
  
      // Configuration options go here
      options: {}
  });
  </script>
  
  <script>
  /*line chart death cases*/
  var ctx5 = document.getElementById('death').getContext('2d');
  var chart5 = new Chart(ctx5, {
      // The type of chart we want to create
      type: 'line',
  
      // The data for our dataset
      data: {
          labels: {{dateState|safe}},
          datasets: [{
              label: 'Death Cases',
              backgroundColor: 'rgba(128,128,128,0.3)',
              data: {{deathState|safe}}
          }]
      },
  
      // Configuration options go here
      options: {}
  });
  </script>


<script>
/*Map*/
var data = {{datamap|safe}};

// Create the chart
Highcharts.mapChart('map', {
    chart: {
        map: 'countries/in/custom/in-all-disputed'
    },

    title: {
        text: 'Covid Patients Heat Map'
    },

    subtitle: {
        text: ''
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Total Positive',
        states: {
            hover: {
                color: '#FF6347'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});

</script>
</html>
